
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.main_left, .main_right{
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.main_left {
    background-image: url(../img/Busan.png);
    
}
.main_right {
    background-image: url(../img/Gyeongju.png);
}

.main_left a, .main_right a  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.bg_1, .bg_2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    

}

.text_box_1, .text_box_2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1.5s forwards;
}

.text_box_1 p:nth-child(1), .text_box_2 p:nth-child(1) {
    padding-bottom: 10px;
    font-size: 24px;
    color: #fff;
}

.text_box_1 h2, .text_box_2 h2 {
    font-size: 87px;
    padding-bottom: 26px;
    color: #fff;

}

.text_box_1 p:nth-child(3), .text_box_2 p:nth-child(3) {
    font-size: 26px;
    padding-bottom: 70px;
    line-height: 38px;
    color: #fff;

}

.text_box_1_btn, .text_box_2_btn {
    width: 252px;
    /* height: 67px; */
    border-radius: 70px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 350px;
    padding: 20px 0;
   
}
.btn_img_1, .btn_img_2{
    background-image: url(../img/btn.png);
}
.btn_img_1, .btn_img_2{
    width: 15px;
    height: 12px;
}
.text_box_1_btn a, .text_box_2_btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(38, 38, 38);
}

.text_box_1_btn p, .text_box_2_btn p {
    font-size: 18px !important;
    color: rgb(38, 38, 38) !important;
    padding-bottom: 0 !important;
}

/* --hover */

.main_left:hover, .main_right:hover{
    transform: scale(1.05);
    transform-origin: center;
    transition: transform 0.3s ease;
    
}
.main_left:hover .bg_1, .main_right:hover .bg_2{
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
}
.main_left:hover .text_box_1 h2, .main_right:hover .text_box_2 h2{
    transform: scale(1.07);
    transition: transform 0.2s ease;

}
.text_box_1_btn:hover, .text_box_2_btn:hover{
    background-color: #C2B191;
    transition-duration: 0.1s;
}
.text_box_1_btn:hover p, .text_box_2_btn:hover p{
    color: #fff !important;
}
.text_box_1_btn:hover .btn_img_1, .text_box_2_btn:hover .btn_img_2{
    background-image: url(../img/btn_2.png);
}

/* --keyframes */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* --반응형 */

@media (max-width: 1200px) {
    .text_box_1 p:nth-child(1), .text_box_2 p:nth-child(1) {
        padding-bottom: 10px;
        font-size: 20px;
    }
    
    .text_box_1 h2, .text_box_2 h2 {
        font-size: 72px;
        padding-bottom: 26px;
    }
    
    .text_box_1 p:nth-child(3), .text_box_2 p:nth-child(3) {
        font-size: 22px;
        padding-bottom: 70px;
        
    }
    .text_box_1_btn, .text_box_2_btn {
        width: 212px;
        height: 57px; 
        padding: 15px 0;
        
    }
    
}
@media (max-width: 768px){
    .main{
        flex-direction: column;
    }
    .main_left, .main_right {
        width: 100%; 
        height: 50vh; 
    }
    .text_box_1 p:nth-child(3), .text_box_2 p:nth-child(3) {
        padding-bottom: 20px;
    }
    .text_box_1 h2, .text_box_2 h2{
        padding-bottom: 6px;
    }
    .text_box_1_btn, .text_box_2_btn{
        margin-top: 290px;
    }
}
@media (max-width: 375px) {
    .text_box_1 p:nth-child(1), .text_box_2 p:nth-child(1) {
        padding-bottom: 10px;
        font-size: 18px;
    }
    
    .text_box_1 h2, .text_box_2 h2 {
        font-size: 52px;
        padding-bottom: 26px;
    }
    
    .text_box_1 p:nth-child(3), .text_box_2 p:nth-child(3) {
        font-size: 16px;
        padding-bottom: 50px;
        line-height: 27px;
    }
    .text_box_1_btn, .text_box_2_btn {
        width: 160px;
        height: 37px; 
        padding: 15px 0;
        margin-top: 230px;
        
    }
    .text_box_1_btn p, .text_box_2_btn p {
        font-size: 14px !important;
    }
    
}











