.header{
  height: 100px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in_header{
  width:  92.5vw;
  height: 100px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo img{
  width: 200px;
  height: 45px;
}
.gnb{
  width: 733px;
  display: flex;
  justify-content: space-between;
}
.gnb a{
  font-size: 20px;
  color: #fff;
}
.header_ham{
  display: none;
}

.header_menu{
  width: 23px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end
}
.menu_1,.menu_3{
  width: 30px;
  height: 2px;
  background-color: #fff;
}
.menu_2{
  width: 19px;
  height: 2px;
  background-color: #fff;

}
@media (max-width: 1300px){
  .gnb{
      width: 600px;
  }
  .gnb a{
      font-size: 18px;
  }
}
@media (max-width: 1020px) {
  .gnb{
      display: none;
  }
  .header_ham{
      display: block;
  }
  .header{
      height: 83px;
  }
  .header_logo img{
    width: 95%;
    height: 95%;
  }
}
@media (max-width: 375px){
  .header {
      height: 66px;
  }
  .header_logo img{
      width: 90%;
      height: 90%;
  }
  .header_menu{
      height: 20px;
  }
  .menu_1,.menu_3{
      width: 23px;
  }
  .menu_2{
      width: 16px;
  }
}

/* ----------sec_1 end--------- */

.section_1 {
  width: 100%;
  height: 90vh;
  background-image: url(../img/sec_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.sec_1_title {
  position: absolute;
  top: 35%;
  left: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  text-align: left;
  animation: fadeInUp 1.5s ease forwards;
  /* animation-delay: 0.4s; */
}

.sec_1_title h2 {
  font-size: 72px;
  color: #fff;
}

.sec_1_title p {
  font-size: 30px;
  color: #fff;
}

.sec_1_res_wrap {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_1_res {
  width: 70.49vw;
  height: 8.49vw;
  background-color: #00000051;
  border: 0.1vw solid #C2B191;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .sec_1_res p,
  .sec_1_res h3
   {
      color: white !important;
  }
  .date_img img:nth-child(2),  
  .check_out_icon img            
  {
    display: none;
  }
  .date_img img:nth-child(1){
      width: 18px;
  }

.date, .people {
  display: flex;
  align-items: center;
  height: 5.21vw;
}

.date {
  width: 30.99vw;
  padding: 0 3.07vw 0 2.14vw;
  border-right: 0.1vw solid #fff;
  justify-content: space-between;
}

.check_in, .check_out {
  display: flex;
  flex-direction: column;
}

.date h3, .people h3 {
  font-size: 30px;
  color: white;
}

.date p, .people p {
  font-size: 22px;
  color: white;
}

.date_img, .check_out_icon {
  display: flex;
  align-items: center;
}
.check_in label,
.check_out label{
  color: #fff;
}
.adult, .children {
  width: 10.42vw;
  padding-left: 1.61vw;
  border-right: 0.1vw solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5.2vw;
}

.adult:last-child, .children:last-child {
  border-right: none;
}

.adult_2, .children_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.77vw;
  height: 2.19vw;
}
.label-adult, .label-children{
  color: white !important;
}
.people{
  align-items: center;
}
.reservation {
  width: 15.15vw;
  height: 8.49vw;
  background-color: #C2B191;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.reservation p, .reservation {
  font-size: 30px;
  color: white;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}





/* ------------------- 반응형 ------------------- */
@media (max-width: 1500px) {
  .sec_1_res_wrap {
    width: 90vw;
  }

  .sec_1_res {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1.5px solid #C2B191;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
  }
  .sec_1_res_wrap{
  bottom: 4%;
  }

  /* 날짜 선택 */
  .date_img img:nth-child(1){
    display: none;
  }
  .date_img img:nth-child(2){
      display: block;
    }

  .date {
    display: flex;
    width: 100%;
    height: 7.5vw;
    padding: 0;
    border-bottom: 1.5px solid #C2B191;
    border-right: 0px;
  }

  .check_in,
  .check_out {
    width: 50%;
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    position: relative;
  }
  .check_in {
      position: relative;
    }
    
    .check_in .date_img img {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: auto;
      display: block;
    }

    .check_out {
      position: relative;
    }
    
    .check_out_icon img {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 19px;
      height: auto;
      display: block;
    }
    
  .check_in label,
  .check_out label {
    font-size: 18px !important;
    color: white;
    margin: 0;
  }

  .check_in h3,
  .check_out h3 {
    font-size: 2.8vw;
    color: white;
    margin: 0;
  }

  

  .check_out_icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
  }


  .people {
      display: flex;
      width: 100%;
      height: 7vw;
      padding: 0px 20px;
      gap: 16px;
      
      box-sizing: border-box;

    }
    
    .adult,
    .children {
      width: 6%;
      padding: 0;
      border: none;
      flex-direction: column;
      gap: 6px;
      position: relative;
      align-items: flex-start;
    }
    .adult_2, .children_2{
      width: 59vw;
    }


  .adult p,
  .children p {
    font-size: 1.9vw;
    color: white;
    margin: 0;
  }

  .adult h3,
  .children h3 {
    font-size: 2.8vw;
    color: white;
    margin: 0;
  }
  .label-adult, .label-children{
      font-size: 18px;
      padding-bottom: 5px;
  }
  
  .children_2>img {
    display: none;
  }


  .children_2 {
      width: 54.7vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
    }
    
    .children_2 h3 {
      font-size: 2.8vw;
      color: white;
      margin: 0;
    }
    
    .adult_2 img {
      width: 19px;
      height: auto;
      display: block;
    }

  
  .reservation {
    width: 100%;
    height: 70px;
    background-color: #C2B191;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 22px;
  }

  .reservation p {
    font-size: 18px;
    color: white;
    margin: 0;
  }
}

@media (max-width: 820px) {
  .sec_1_res {
    width: 100%;
  }
  .sec_1_title h2{
      font-size: 52px;
  }
  .sec_1_title p {
      font-size: 22px;
  }
  .date{
      height: 12vw;
  }
  .people{
      height: 12vw;
      gap: 30px;
  }
  .sec_1_res_wrap {
    width: 90.75vw;
  }

  .children_2 {
    width: 74.8vw;
}
.adult_2 {
  width: 84.5vw;
}

  .reservation {
    width: 90.75vw;
    height: 60px;
  }

  .label-adult, .label-children{
      color: white !important;

      
  }
  
  .reservation p,
  .date p,
  .adult p,
  .children p {
    font-size: 3vw;
  }

  .date h3,
  .adult h3,
  .children h3 {
    font-size: 4vw;
  }
}
@media (max-width: 375px){
  .sec_1_title{
      align-items: center;
      top: 45%;
      left: 8%;
      
  }
  .sec_1_title h2{
      font-size: 48px;
  }
  .sec_1_title p {
      font-size: 18px;
  }
  .date_img img:nth-child(2){
      width: 80%;
  }
  .check_out_icon img {
      width: 14px;
  }
  .date {
      height: 17vw;
  }
  .people{
      height: 15vw;
  }
  .adult_2 {
    width: 80vw;
}
.adult_2 img{
  width: 14px;
}
  .check_in label, .check_out label {
      font-size: 14px !important;
  }
  .label-adult, .label-children{
      font-size: 14px;
      padding-bottom: 3px;
  }
  .date h3, .adult h3, .children h3 {
      font-size: 16px;
  }
  .reservation{
      height: 40px;
      font-size: 14px;
  }
}
/* ---sec_1 end--- */

.section_2 {
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 100px;
}

.sec_2_title {
text-align: center;
}

.sec_2_title h2 {
font-size: 55px;
padding-top: 173px;
padding-bottom: 9px;
}

.sec_2_title p {
font-size: 22px;
padding-bottom: 65px;
}

.sec_2_wrapper {
width: 92.5vw;
overflow: hidden;
}

.sec_2_container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 100%;
padding-left: 0;
}

.sec_2_slide {
width: 32%;
margin-bottom: 60px;
box-sizing: border-box;
}

.sec_2_inner {
width: 100%;
}

.sec_2_inner img {
width: 100%;
height: auto;
object-fit: cover;
display: block;
}

.sec_2_text {
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
text-align: left;
}

.sec_2_text h4 {
font-size: 22px;
font-weight: 500;
margin-bottom: 9px;
}

.sec_2_text p {
font-size: 18px;
}


.swiper-pagination.sec_2_pagination {
display: none;
}

@media (max-width: 1080px) {
  .section_2{
    padding-bottom: 0;
  }
  .sec_2_wrapper {
    padding: 0;
    overflow: hidden;
  }

  .sec_2_container {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 5vw;
  }
  .sec_2_text {
    padding: 10px 0 0 0;
  }
  .sec_2_inner {
    width: 100%;
    margin: 0 auto;
  }

  .sec_2_inner img {
    width: 100%;
    height: auto;
    display: block;
  }
  .sec_2_text {
    padding: 10px 0 0 0;
  }

  .sec_2_slide:last-child {
    margin-right: 0;
  }

  .sec_2_slide {
    flex: 0 0 65vw;
    margin-right: 4vw;
    box-sizing: border-box;
  }
  .sec_2_slide img {
    width: 100%;
    display: block;
    margin-left: 0;
  }

  .sec_2_slide:first-child {
    margin-left: 0; 
  }

  .swiper-pagination.sec_2_pagination {
    display: flex !important;
    justify-content: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 40px;
    position: relative;
    z-index: 10;
  }

.swiper-pagination-bullet {
width: 16px !important;
height: 16px !important;
border-radius: 50%;
background-color: transparent !important;  /* 파란색 덮기 방지 */
border: 1px solid #A48B5E !important;      /* 원하는 테두리 색 */
box-sizing: border-box;
opacity: 1 !important;
margin: 0 6px;
}

.swiper-pagination-bullet-active {
background-color: #C2B191 !important;
border: none !important;
}

  
}




@media (max-width: 820px){
  .section_2{
    padding-bottom: 0;
  }
  
  .sec_2_title h2{
    font-size: 40px;
    padding-top: 173px;
    padding-bottom: 7px;
    
  }
  .sec_2_title p{
    font-size: 20px;
    padding-bottom: 45px;
  }
  .sec_2_container h4{
      font-size: 20px;
    }
    .sec_2_container p{
      font-size: 18px;
  }
  .sec_2_container img{
      width: 72vw;
  }
  .sec_2_slide {
      flex: 0 0 72vw;
  }
  .sec_2_slide {
      margin-right: 3.5vw; 
  }
  .sec_2_wrapper {
      width: 93vw;
  }
  .sec_2_container img{
      width: 80vw;
  }
  .sec_2_slide {
      flex: 0 0 80vw;
  }
  @media (max-width: 375px){
    
    .sec_2_title h2{
      font-size: 30px;
      font-weight: 500;
    }
    .sec_2_title p{
      font-size: 20px;
      font-weight: 300;
    }
      .sec_2_container h4{
          font-size: 16px;
        }
        .sec_2_container p{
          font-size: 14px;
      }
      .sec_2_slide {
          margin-right: 4.5vw; 
      }
      .sec_2_container{
      transform: translateX(-31px);

      }

      
  }
} 
/* ------section_2 end---------- */

.section_3 {
width: 100%;
background-color: #FCF9F4;
padding: 0 4vw 5.21vw;
box-sizing: border-box;
}

.sec_3_title {
text-align: center;
}

.sec_3_title h2 {
font-size: 55px;           
padding-top: 9.01vw;       
padding-bottom: 0.47vw;  
}

.sec_3_title p {
font-size: 22px;         
padding-bottom: 3.39vw;     
}

.swiper {
width: 100%;
padding-bottom: 5.21vw !important; 
}

.swiper-slide {
display: flex;
justify-content: center;
}

.sec_3_slide {
width: 27.6vw;
background-color: #fff;
border-radius: 12px; 
overflow: hidden;
box-shadow: 0 0.21vw 0.78vw rgba(0, 0, 0, 0.1); 
display: flex;
flex-direction: column;
}

.sec_3_slide img {
width: 100%;
height: auto;
display: block;
}

.sec_3_con_text {
padding: 1.04vw;         
display: flex;
flex-direction: column;
gap: 0.73vw;        
}

.sec_3_con_text h5 {
font-size: 22px;    
font-weight: 500;
color: #3a2f1e;
margin: 0;
}

.sec_3_con_text p {
font-size: 18px; 
color: #5f5240;
margin: 0;
line-height: 27px; 
}

.sec_3_con_text p:nth-child(3) {
padding-top: 1.41vw;
}

.sec_3_con_btn {
margin-top: 2.7vw;
}

.sec_3_con_btn a {
display: inline-block;
padding: 10px 30px;     
border: 0.05vw solid #C2B191;
color: #222;
text-decoration: none;
font-size: 16px;      
border-radius: 4px; 
transition: background-color 0.2s ease;
}

.sec_3_con_btn a:hover {
background-color: #C2B191;
color: #fff;
}

.section_3 .swiper-pagination-bullet {
width: 16px !important;
height: 16px !important;
opacity: 1 !important;
margin: 0 6px !important;
background-color: #22222200;
border: 1px solid #C2B191 !important;
}


.section_3 .swiper-pagination-bullet-active {
background-color: #C2B191 !important;
}



@media (max-width: 1425px) {
  .sec_3_title h2 {
    font-size: 40px;
    padding-top: 15.01vw;
  }
  .section_3 {
    padding: 0 4vw 8.21vw;
  }
  .sec_3_slide {  
    width: 42.6vw;
  }
  .sec_3_slide h5{
    font-size: 20px;
    padding-bottom: 5px;
  }
  .sec_3_slide p{
    font-size: 16px;
    line-height: 25px;
  }
  .sec_3_slide a{
    font-size: 16px;
  }
  .sec_3_con_btn {
    margin-top: 2.78vw;
  }
  .swiper {
    padding-bottom: 12.21vw !important;
}
}

@media (max-width: 875px) {
  .sec_3_con_btn {
    margin-top: 3.78vw;
  }
  .sec_3_title h2 {
    font-size: 40px;
    padding-top: 173px;
  }
  .section_3 {
    padding: 0 4vw 10.21vw;
  }
  .sec_3_title p {
    font-size: 20px;
    padding-bottom: 8.39vw;
  }
  .sec_3_con_text p:nth-child(3) {
    padding-top: 4.41vw;
  }
  .sec_3_slide {
    width: 92.6vw;

  }
  .swiper {
  padding-bottom: 19.21vw !important;
}
.sec_3_con_text {
  padding: 2.04vw;
}

.section_3 {
  padding: 0 4vw 20.21vw;
  } 
  
}

@media (max-width: 375px) {
  .sec_3_slide p {
    line-height: 23px;
    padding-top: 10px;
  }
  .sec_3_con_text p:nth-child(3) {
    padding-top: 5.41vw;
  }
  .sec_3_con_text {
    padding: 4.04vw;
  }
  .sec_3_title h2 {
    font-size: 30px;
    padding-top: 100px;
    font-weight: 500;
  }
  .sec_3_title p {
    font-size: 20px;
    font-weight: 300;
  }
  .sec_3_slide h5 {
    font-size: 18px;
  }
  .swiper {
    padding-bottom: 21.21vw !important;
}

.section_3 .swiper-pagination-bullet {
width: 12px !important;
height: 12px !important;
}

.section_3 {
padding: 0 4vw 30.21vw;
}

}


/* -------sectiion_3 end---------- */

.section_4 {
overflow-x: hidden;
display: flex;
align-items: center;
flex-direction: column;
}

.sec_4_title {
display: flex;
flex-direction: column;
align-items: center;
}

.sec_4_title h2 {
font-size: 55px;
padding-top: 173px;
padding-bottom: 9px;
}

.sec_4_title p {
font-size: 22px;
padding-bottom: 65px;
}

.sec_4_wrapper {
width: 92.5vw;
overflow: visible;
}

.sec_4_container {
display: flex;
flex-wrap: wrap; 
justify-content: space-between;
width: 100%;
padding: 0;
padding-bottom: 226px;
gap: 0;
}

.sec_4_slide {
flex: 0 0 calc(33.333% - 20px);
max-width: calc(33.333% - 20px);
margin-bottom: 60px;
box-sizing: border-box;
border-radius: 12px;
overflow: hidden;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
background-color: #fff;
overflow: hidden;
border-radius: 12px;
position: relative;
}
.sec_4_slide a {
display: flex;
flex-direction: column;
height: 100%;
}

.sec_4_image_wrap {
overflow: hidden;
}


.sec_4_slide img {
width: 100%;
height: auto;
object-fit: cover;
display: block;

}
.sec_4_image_wrap img {
width: 100%;
height: auto;
display: block;

transform: scale(1);
transition: filter 0.8s ease, transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
will-change: transform, filter;
}

.sec_4_slide:hover .sec_4_image_wrap img {
filter: grayscale(0%);
transform: scale(1.1);
}

[class^="sec_4_text_"] {
padding: 20px 20px 30px 20px;
display: flex;
flex-direction: column;
gap: 10px;
}

.sec_4_slide h5 {
font-size: 22px;
font-weight: 500;
}

.sec_4_slide p {
font-size: 18px;
line-height: 27px;
}

.swiper-pagination.sec_4_pagination {
display: none !important;
}

@media (max-width: 1080px) {
.sec_4_wrapper {
  width: 100vw;
  overflow: auto;
  position: relative;
}

.sec_4_container {
  padding-bottom: 0;
  overflow: visible !important;
  display: flex;
  flex-wrap: nowrap;
  width: max-content !important;
  transition: transform 0.4s ease;
  will-change: transform;
  padding-left: 5vw;
  padding-right: 5vw; 
  gap: 0;
}
.swiper-wrapper {
  display: flex;
}
.sec_4_pagination .swiper-pagination-bullet:last-child {
  display: none;
}

.sec_4_slide {
  flex: 0 0 65vw;
  width: 65vw;
  margin-right: 5vw;
  box-sizing: border-box;
}

.sec_4_slide:first-child {
  margin-left: 5vw;
}

.sec_4_slide:last-child {
  margin-right: 5vw !important;
}
.empty-slide {
  flex: 0 0 5vw; 
  height: 1px; 
  background: transparent;
  pointer-events: none;
}
.sec_4_slide a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[class^="sec_4_text_"] {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-pagination.sec_4_pagination {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  padding-top: 32px;
  position: relative;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3a2f1e;
  border: 1px solid #C2B191;
  
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #C2B191;
}
}

@media (max-width:772px) {
.empty-slide{
  display: none;
}
.sec_4_slide {
  flex: 0 0 90.6vw !important;
}
.sec_4_title h2{
  font-size: 40px;
}
.sec_4_title p{
  font-size: 20px;
}
.sec_4_slide h5{
  font-size: 20px;
}
.sec_4_slide p{
  font-size: 16px;
}

[class^="sec_4_text_"] {
  padding: 20px 20px 50px 20px;
}
}
@media (max-width:560px) {
.sec_4_container{
  justify-content: normal;
}

}

@media (max-width: 375px){
.sec_4_title h2 {
  padding-top: 100px;
  font-weight: 500;
}
  .sec_4_title h2{
  font-size: 30px;
}
.sec_4_title p{
  font-size: 18px;
  font-weight: 300;
}
.sec_4_slide{
  margin-bottom: 10px;
}
}



/* --------section_4 end------------- */

.section_5{
display: flex;
align-items: center;
flex-direction: column;
background-color: #FCF9F4;
}
.sec_5_title{
display: flex;
flex-direction: column;
align-items: center;
}
.sec_5_title h2{
font-size: 55px;
padding-top: 173px;
padding-bottom: 9px;

}
.sec_5_title p{
font-size: 22px;
padding-bottom: 65px;
}
.sec_5_container{
display: flex;
width: 61.8vw;
justify-content: space-between;
padding-bottom: 146px;

}
.sec_5_container a{
display: flex;
align-items: center;
flex-direction: column
}
.sec_5_con_1, .sec_5_con_2, .sec_5_con_3{
display: flex;
align-items: center;
flex-direction: column;
}
.sec_5_container img{
width: 20vw;
}
.sec_5_container p{
padding-top: 11px;
font-size: 20px;
font-weight: 500;

}
@media (max-width:1080px){
.sec_5_container{
  flex-direction: column;
}

.sec_5_container img {
width: 50vw;
}
.sec_5_container p{
padding-bottom: 35px;

}
}
@media (max-width: 820px) {
.sec_5_title h2 {
    font-size: 40px;
    
}
.sec_5_title p {
  font-size: 20px;
}
.sec_5_container p{
font-size: 18px;
}
}
@media (max-width: 600px){
.sec_5_container img {
  width: 75vw;
}
}
@media (max-width: 375px){
.sec_5_title h2{
  font-size: 30px;
  font-weight: 500;
}
.sec_5_title p{
  font-size: 20px;
  font-weight: 300;
}
.sec_5_container p{
  font-size: 16px;
}
}
/* ----------section_5 end----------- */

footer{
background-color: #222222;
width: 100%;

}
.footer_wrap{
width: 100%;
padding-top: 85px;
display: flex;
flex-direction: column;
align-items: center;
}
.foo_container_1 a p{
color: #fff;
font-size: 18px;
}
.foo_container_1 a p, .foo_container_2 p{
color: #fff;
}
.footer_wrap img{
width: 230px;
padding-bottom: 68px;
}
.foo_text{
display: flex;
width: 38vw;
}
.foo_text a{
height: 50%;
}
.foo_text_wrap_1, .foo_text_wrap_2{
display: flex;
width: 19vw;
justify-content: space-around;

}
.foo_container_1{
display: flex;
flex-direction: column;
padding-bottom: 83px;
align-items: center;

}
.foo_container_2{
width: 100%;
border-top: 1px solid #fff;
padding: 39px 0px 39px 0px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
font-size: 14px;
line-height: 23px;
}
.foo_text_1, .foo_text_2, .foo_text_3, .foo_text_4{

text-align: center;
}

.foo_text_1 p:nth-last-child(1),
.foo_text_2 p:nth-last-child(1),
.foo_text_3 p:nth-last-child(1),
.foo_text_4 p:nth-last-child(1){
padding-bottom: 30px;
}
@media (max-width:1080px) {
.foo_text{
  flex-direction: column;
  width: 26vw;
  justify-content: space-between;
}
.foo_text_wrap_1, .foo_text_wrap_2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.foo_text_1 p:nth-last-child(1), .foo_text_2 p:nth-last-child(1), .foo_text_3 p:nth-last-child(1), .foo_text_4 p:nth-last-child(1) {
  padding-bottom: 40px;
}
.foo_container_1 {
  padding-bottom: 20px;
}
.footer_wrap img {
  width: 210px;
  padding-bottom: 48px;
}
.footer_wrap {
  padding-top: 65px;
}
.foo_container_2 {
  padding: 29px 20px 29px 20px;
}
}
@media (max-width: 820px) {
.foo_text{
  width: 38vw;
}
.foo_container_2 p{
  font-size: 12px;
  line-height: 20px;
}
}
@media (max-width: 375px) {
.foo_text{
  width: 55vw;
}
.foo_container_2 {
  padding: 29px 20px 29px 20px;
}
.footer_wrap img {
  width: 180px;
}
}





